/*

## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%)
/*


- Font size (paragraph): 16px
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid red ; */
}

html {
    font-size: 62.5%;

}

body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: hsl(223, 47%, 23%);

}