.order-summary {
    max-width: 144rem;
    height: 90rem;
    background-color: #E0E8FF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-box {
    width: 45rem;
    height: 69.7rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 0 2px 0 1px hsl(224, 23%, 55%);
}

.box-top {
    width: 45rem;
    height: 20rem;
    margin-bottom: 5rem;
}

.box-top img {
    width: 45rem;
    height: 20rem;
}

.box-bottom {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.para {
    color: hsl(224, 23%, 55%);
    font-size: 1.7rem;
    line-height: 1.5;
}
.call-box{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    background-color:hsl(225, 100%, 98%);
    width: 35.4rem;
    height: 9.8rem;
    align-items: center;

}
.icon{
    width: 2.4rem;
    height: 2.4rem;
}
.call-box a:link,
.call-box a:visited{
    cursor: pointer;
    color: hsl(223, 47%, 23%);
}
.call-box-left{
    display: flex;
    gap: 5rem;
    align-items: center;
}
.plan{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.planning span{
    color:hsl(224, 23%, 55%);
}
.payment{
    width: 35.4rem;
    height: 5rem;
    background-color:hsl(245, 75%, 52%) ;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    box-shadow: 0 2px 5px 3px #555;
    cursor: pointer;
}
.cancel{
    background-color: #ffffff;
    color:hsl(224, 23%, 55%);
    box-shadow: none;

}
